body {
  color: #5f5f5f;
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5f5f5f;
  font-weight: 200;
}

.navigation {
  text-align: center;
}

.section {
  margin: 0 0.25em;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  width: 27%;
  min-width: 325px;
  max-width: 100%;
  padding: 0 1.5em;
  margin: 1.65em 0;
  display: inline-block;
  vertical-align: top;
}

.footer {
  padding: 0.5em 2em;
  font-size: 0.65em;
}

/* Utilities
************************/
.jumbotron {
  display: inline-block;
  width: 100%;
  height: 4.95em;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

/* Typography
************************/
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

body {
  color: #5f5f5f;
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #5f5f5f;
  font-weight: 200;
}

.indicator {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 0.2em;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.progress-container {
  width: 100%;
  height: 0.2em;
  background-color: transparent;
}

.progress-bar {
  height: 0.2em;
  background-color: #0f0;
  width: 0%;
}

.navigation {
  text-align: center;
}

.section {
  margin: 0;
  max-width: 97%;
  overflow-x: hidden;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  width: 25%;
  min-width: 275px;
  max-width: 100%;
  padding: 0 1.25em;
  margin: 1.65em 0;
  display: inline-block;
  vertical-align: top;
}

.footer {
  padding: 0.5em 2em;
  font-size: 0.65em;
}

/* Utilities
************************/
.jumbotron {
  display: inline-block;
  width: 100%;
  height: 4.95em;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

/* Typography
************************/
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
}

.title-object {
  text-align: center;
}

.section-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  margin: 0.35em 0;
  padding: 0;
}

.section-subtitle {
  display: inline;
  font-size: 0.95em;
}

.description {
  max-width: 100%;
  max-height: 5.25em;
  position: relative;
  overflow: hidden;
}

.description:after {
  content: "";
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent, whitesmoke);
  display: block;
  position: absolute;
  bottom: 0;
}

/* Assets
************************/
.emoji {
  font-size: 0.75em;
  padding: 0.5em;
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: -0.5em 0 -0.25em;
}

.planet-svg {
  width: 1.25em;
  height: auto;
  text-align: center;
}

/* Buttons
************************/
.pill {
  display: inline-block;
  color: #fff;
  border-radius: 50px;
  border-style: none;
  font-size: 0.65em;
  opacity: 0.9;
  margin: 0.35em 0;
  padding: 0.5em 1.25em;
}

.pill:hover {
  opacity: 1;
}

.menu {
  font-size: 0.85em;
  color: #fff;
  background-color: transparent;
  border-radius: 1%;
  border-color: transparent;
  padding: 0.3em 1.15em;
  z-index: 100;
  opacity: 0.7;
  position: fixed;
  bottom: 1.15em;
  right: 1.25em;
}

.menu:hover {
  opacity: 0.9;
}

/* Solid Colors */
/************************/
.red {
  opacity: 0.9;
  color: #ff4b2b;
}

.green {
  opacity: 0.5;
  color: #0f0;
}

.yellow {
  opacity: 0.7;
  color: #00f;
}

/* Gradients */
/************************/
.red-orange-gradient {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.pink-purple-gradient {
  background-image: linear-gradient(109.2deg, #fe0368 9.3%, #6703ff 89.5%);
}

.blue-gradient {
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #5558da 0%, #5fd1f9 100.2%);
}

.peach-gradient {
  background: linear-gradient(to right, #f2709c, #ff9472);
}

.green-gradient {
  background-image: linear-gradient(to right, #b6f492, #338b93);
}

/*# sourceMappingURL=styles.css.map */
.subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
}

.title-object {
  text-align: center;
}

.section-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  margin: 0.35em 0;
  padding: 0;
}

.section-subtitle {
  display: inline;
  font-size: 0.95em;
}

.description {
  max-width: 100%;
  max-height: 7em;
  position: relative;
  overflow: hidden;
}

.description:after {
  content: "";
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent, whitesmoke);
  display: block;
  position: absolute;
  bottom: 0;
}

/* Assets
************************/
.emoji {
  font-size: 0.75em;
  padding: 0.5em;
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: -0.5em 0 -0.25em;
}

.planet-svg {
  width: 1.25em;
  height: auto;
  text-align: center;
}

/* Buttons
************************/
.pill {
  display: inline-block;
  color: #fff;
  border-radius: 50px;
  border-style: none;
  font-size: 0.65em;
  opacity: 0.9;
  margin: 0.35em 0;
  padding: 0.5em 1.25em;
}

.pill:hover {
  opacity: 1;
}

.menu {
  font-size: 0.85em;
  color: #fff;
  background-color: transparent;
  border-radius: 1%;
  border-color: transparent;
  padding: 0.3em 1.15em;
  z-index: 100;
  opacity: 0.7;
  position: fixed;
  bottom: 1.15em;
  right: 1.25em;
}

.menu:hover {
  opacity: 0.9;
}

/* Solid Colors */
/************************/
.red {
  opacity: 0.9;
  color: #ff4b2b;
}

.green {
  opacity: 0.5;
  color: #0f0;
}

.yellow {
  opacity: 0.7;
  color: #00f;
}

/* Gradients */
/************************/
.red-orange-gradient {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.pink-purple-gradient {
  background-image: linear-gradient(109.2deg, #fe0368 9.3%, #6703ff 89.5%);
}

.blue-gradient {
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #5558da 0%, #5fd1f9 100.2%);
}

.peach-gradient {
  background: linear-gradient(to right, #f2709c, #ff9472);
}

.green-gradient {
  background-image: linear-gradient(to right, #b6f492, #338b93);
}

/*# sourceMappingURL=styles.css.map */
